- name: Download Node Exporter
  get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v1.7.1/node_exporter-1.7.1.linux-amd64.tar.gz"
    dest: /tmp/node_exporter.tar.gz

- name: Extract Node Exporter
  unarchive:
    src: /tmp/node_exporter.tar.gz
    dest: /usr/local/bin/
    remote_src: yes

- name: Create systemd service
  copy:
    dest: /etc/systemd/system/node_exporter.service
    content: |
      [Unit]
      Description=Node Exporter
      After=network.target
      [Service]
      ExecStart=/usr/local/bin/node_exporter-1.7.1.linux-amd64/node_exporter
      Restart=always
      [Install]
      WantedBy=multi-user.target

- name: Enable and start Node Exporter
  systemd:
    name: node_exporter
    state: started
    enabled: true
