- name: Add Wazuh GPG key
  apt_key:
    url: https://packages.wazuh.com/key/GPG-KEY-WAZUH
    state: present

- name: Add Wazuh repository
  apt_repository:
    repo: 'deb https://packages.wazuh.com/4.x/apt/ stable main'
    state: present

- name: Install Wazuh agent
  apt:
    name: wazuh-agent
    state: present
    update_cache: yes

- name: Configure Wazuh agent to point to manager
  replace:
    path: /var/ossec/etc/ossec.conf
    regexp: '<address>.*</address>'
    replace: "<address>10.0.0.4</address>"

- name: Enable and start Wazuh agent
  systemd:
    name: wazuh-agent
    state: started
    enabled: true
